<h2>这是第二阶段</h2>
<hr>
<p>
  注意：请如实回答所有的问题。
</p>
<hr>
<p>给前一阶段的四个话题加入对应的支持和反对的arguments。</p>
<p>且追加新的几个问题。</p>
<hr>
<p>这里需要介绍一下几个问题的细节</p>
<p>分数意义为 -- 1:**, 2: **, 3:**, 4:**, 5:**.</p>
<h2>Welcome, <%= player.name %>!</h2>
<p>你的随机玩家ID是: <%= player.playerId %></p>
<p>你上一阶段对第一个话题的态度是: <%= player.P1T1Q1 %></p>
<p>你上一阶段对第二个话题的态度是: <%= player.P1T2Q1 %></p>
<p>你上一阶段对第三个话题的态度是: <%= player.P1T3Q1 %></p>
<p>你上一阶段对第四个话题的态度是: <%= player.P1T4Q1 %></p>

<!-- 网格容器 -->
<form action="/phases/phase2" method="POST">
  <div class="grid-container" id="phase2-grids">
  </div>
  <button type="submit" id="phase2SubmitButton">提交并进入下一阶段</button>
</form>
<br>
<!-- <a href="/phases/phase3_intro">点击进入第三阶段--介绍偷换概念</a> -->
<!-- Expose player data to JS running in the browser -->
<script>
  // Attach to global window object
  window.playerData = {
    name: "<%= player.name %>",
    playerId: "<%= player.playerId %>",
    P1T1Q1: "<%= player.P1T1Q1 %>",
    P1T2Q1: "<%= player.P1T2Q1 %>",
    P1T3Q1: "<%= player.P1T3Q1 %>",
    P1T4Q1: "<%= player.P1T4Q1 %>"
  };
</script>
<script type="module" src="../js/phase2.js"></script>

