<div class="phases-container">
<hr>
<h1>第二阶段</h1>
<div class="left-align-block">
  <p>你好, <%= player.name %> (玩家ID：<%= player.playerId %>)!</p>
  <p>对于每个话题，我们向你提供了两个观点。请阅读这两个观点，并回答后面的问题。</p>
  <p>请注意：第二个问题要求你对每个观点的内容质量进行评分，评分范围从1星（非常差）到5星（非常好）。请考虑信息的可靠性、相关性和说服力。</p>
  <!-- <p>你上一阶段对第一个话题的态度是: <%= player.P1T1Q1 %></p>
  <p>你上一阶段对第二个话题的态度是: <%= player.P1T2Q1 %></p>
  <p>你上一阶段对第三个话题的态度是: <%= player.P1T3Q1 %></p>
  <p>你上一阶段对第四个话题的态度是: <%= player.P1T4Q1 %></p> -->
</div>
<hr>
<!-- 网格容器 -->
<form action="/phases/phase2" method="POST">
  <div class="grid-container" id="phase2-grids">
  </div>
  <br>
   <div class="question-block">
    <label>下面这个选择，请选择“左边”:</label><br>
    <input type="radio" id="P2AttentionCheck-left" name="P2AttentionCheck" value="left" required>
    <label for="P2AttentionCheck-left">左边</label>
    <input type="radio" id="P2AttentionCheck-right" name="P2AttentionCheck" value="right">
    <label for="P2AttentionCheck-right">右边</label>
   </div>
  <div class="left-align-block">
    <p><strong>注意：请认真对待且如实回答每一个问题。</strong></p>
    <button type="submit" id="phase2SubmitButton" class="button-link">提交并继续</button>
  </div>
</form>
</div>
<!-- <a href="/phases/phase3_intro">点击进入第三阶段--介绍偷换概念</a> -->
<!-- Expose player data to JS running in the browser -->
<script>
  // Attach to global window object
  window.playerData = {
    name: "<%= player.name %>",
    playerId: "<%= player.playerId %>",
    P1T1Q1: "<%= player.P1T1Q1 %>",
    P1T2Q1: "<%= player.P1T2Q1 %>",
    P1T3Q1: "<%= player.P1T3Q1 %>",
    P1T4Q1: "<%= player.P1T4Q1 %>"
  };
</script>
<script type="module" src="../js/phase2.js"></script>

